<%= form_with(model: productgroup, local: true) do |form| %>
  <% if productgroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(productgroup.errors.count, "error") %> prohibited this productgroup from being saved:</h2>

      <ul>
      <% productgroup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :productgroup_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :productgroup_description %>
  </div>

  <div class="field">
    <%= form.label :food_group %>
    <%= form.check_box :food_group, id: :productgroup_food_group %>
  </div>

  <div class="field">
    <%= form.label :min_weight %>
    <%= form.number_field :min_weight, id: :productgroup_min_weight %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
