<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :product_description %>
  </div>

  <div class="field">
    <%= form.label :manufacturer_id %>
    <%= form.number_field :manufacturer_id, id: :product_manufacturer_id %>
  </div>

  <div class="field">
    <%= form.label :barcode %>
    <%= form.number_field :barcode, id: :product_barcode %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.number_field :weight, id: :product_weight %>
  </div>

  <div class="field">
    <%= form.label :productgroup_id %>
    <%= form.number_field :productgroup_id, id: :product_productgroup_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
